.root-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 30%;
    border: solid;
    padding: 2rem;
}

.weather-container {
    width: 70%;
    border: solid;
    padding: 2rem;
}